/* עיצוב בסיסי עבור הקורסים */
  .course-card {
    display: inline-block;
    margin: 10px;
    padding: 12px;
    width: 93%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.8em; 
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis
  }
  
  .course-card:hover {
    background-color: #0097a7; /* תכלת כהה יותר */
  }
  /* עיצוב עבור קורסים בתשלום */
  .course-card.paid {
    width: 25%; /* הרוחב הוגדל ל-25% */
  }
  
  
  /* עיצוב כלליות */
  .course-card span {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
  