<div class="container">
    <div class="header">
        <h1>Class Form</h1>
      </div>
      <form [formGroup]="classForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-group">
            <label for="Id">ID:</label>
            <input id="Id" formControlName="Id" class="form-control" required />
            @if (f['Id'] && f['Id'].errors && f['Id'].touched) {
                @if (f['Id'].errors['required']) {
                    <div class="error-message">Id is required</div>
                }
                @if (f['Id'].errors['min']) {
                    <div class="error-message">ID must be greater than 0.</div>
                }
            }
        </div>
        <div class="form-group">
            <label for="Name">Name:</label>
            <input id="Name" formControlName="Name" class="form-control" required>
            @if (f['Name'] && f['Name'].errors && f['Name'].touched) {
                @if (f['Name'].errors['required']) {
                    <div class="error-message">Name is required</div>
                }
                @if (f['Name'].errors['minlength']) {
                    <div class="error-message">Name must be at least 2 characters long.</div>
                }
            }
        </div>
        
        <div class="form-group"> 
            <label for="NumStudents">NumStudents:</label>
            <input id="NumStudents" formControlName="NumStudents" required>
            @if (f['NumStudents'] && f['NumStudents'].errors && f['NumStudents'].touched) {
                @if (f['NumStudents'].errors['required']) {
                    <div class="error-message">Number of students is required</div>
                }
                @if (f['NumStudents'].errors['min']) {
                    <div class="error-message">Number of students must be at least 1.</div>
                }
                @if (f['NumStudents'].errors['max']) {
                    <div class="error-message">Number of students must be 50 or less.</div>
                }
            }
        </div>
       
    
        <button type="submit" class="btn btn-primary" [disabled]="classForm.invalid">Submit</button>
    </form>
    <div class="classes-list">
        <h3>Class List</h3>
        @for (item of ClassList; track item) {
            <p>{{ item.Id }} - {{ item.Name }} -- {{ item.NumStudents }}</p>
        }
    </div>
</div>
