<div class="container">
  <header class="header">
    <h1>{{currentHour()}}</h1>
    <h2>{{title}}</h2>
  </header>

  <section class="welcome-message">
    <p>{{ 'Welcome! smile '| textToIcon }}</p>
  </section>

  <nav class="navigation">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/studentList" routerLinkActive="active">Student List</a>
    <a routerLink="/teacherForm" routerLinkActive="active">Teacher Form</a>
    <a routerLink="/classForm" routerLinkActive="active">Class Form</a>
    <a routerLink="/availableCourses" routerLinkActive="active">Available courses</a>
  </nav>

  <router-outlet></router-outlet>
</div>
