<div class="dashboard-container">
    <mat-card>
      <mat-card-title>Dashboard</mat-card-title>
      <mat-card-content>
        <h1>Welcome!!</h1>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="SignOut()">Sign Out</button>
        </div>
      </mat-card-content>
    </mat-card>

        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

            @for (item of users; track item)
            {<tr>
                <td>
                    {{ item.id }}

                </td>
                <td>
                    <a [routerLink]="['/allUsers',item.id]">{{ item.name }}</a>
                    <!-- <a routerLink="/allUsers/item.id">{{ item.name }}</a> -->
                </td>
            </tr>
            }

        </tbody>
    </table>
  </div>

  